* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: hsla(220, 100%, 96%, 1);
  display: grid;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 23.4375rem;
}

header {
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 32px 32px;
  display: grid;
  grid-template-rows: 1.5rem 2.9375rem 8.75rem 1.5rem 2.4375rem 5.125rem;
  grid-template-columns: 3.625rem 3.75rem 8.75rem 3.75rem 3.625rem;
  grid-template-areas: 
  ". . . . ."
  ". . result-title . ."
  ". . main-score . ."
  ". . . . ."
  ". . opinion-title . ."
  ". description description description ."
  ;
  
}

.summary {
  color: hsl(224, 30%, 27%);
  display: grid;
  grid-template-rows: 1.5rem 2.9375rem 3.5rem 1rem 3.5rem 1rem 3.5rem 1rem 3.5rem 1.5rem 3.5rem 1.875rem;
  grid-template-columns: 1.875rem 19.6875rem 1.875rem;
  grid-template-areas: 
  ". . ."
  ". sum-title ."
  ". reaction ."
  ". . ."
  ". memory ."
  ". . ."
  ". verbal ."
  ". . ."
  ". visual ."
  ". . ."
  ". button ."
  ". . ."
  ;

}

header, .summary{
  min-width: 19.6875rem;
}

.summary-title {
  grid-area: sum-title;
  font-size: 1.125rem;
  font-weight: 700;
}
.result-title {
  font-family: 'Hanken Grotesk';
  color:hsla(241, 100%, 89%, 1);
  grid-area: result-title;
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
  
}

.main-score {
  min-width: 8.75rem;
  min-height: 8.75rem;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
  color: hsl(0, 0%, 100%);
  grid-area: main-score;
  display: grid;
  grid-template-rows: 1.5625rem 4.5rem 2.6875rem;
  grid-template-columns: 2.375rem 3.9375rem 2.4375rem;
  grid-template-areas: 
  ". . ."
  ". main-score-result ."
  ". main-score-100 ."
  ;
}

.main-score-result {
  font-size: 3.5rem;
  font-weight: 800;
  grid-area: main-score-result;
  text-align: center;
  line-height: 4.5rem;
}

.main-score-100 {
  color:hsla(241, 100%, 89%, 1);
  grid-area: main-score-100;
  text-align: center;
  font-weight: 700;
  opacity: 0.5168;
}

.opinion-title {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  grid-area: opinion-title;
  text-align: center;
}

.description {
  color:hsla(241, 100%, 89%,1);
  text-align: center;
  grid-area: description;
}


.stat {
  display: flex;
  min-width: 19.6875rem;
  min-height: 3.5rem;
  padding: 1.065rem 1rem 1.125rem 1rem;
  border-radius: 12px;
}

.score {
  margin-left: auto;
}

span {
  color: hsla(223, 30%, 27%, 1);
  opacity: 0.5; 
}

.stat-title {
  margin-left: 0.75rem;
}

.reaction-image, .memory-image, .verbal-image, .visual-image {
  width: 1.25rem;
  height: 1.25rem;
}

.reaction-color {
  color:hsl(0, 100%, 67%);
}

.reaction-bg-color {
  background-color:hsla(0, 100%, 67%, 0.05);
  grid-area: reaction;
}

.memory-color {
  color:hsl(39, 100%, 56%);
}

.memory-bg-color {
  background-color:hsla(39, 100%, 56%, 0.05);
  grid-area: memory;
}

.verbal-color {
  color:hsl(166, 100%, 37%);
}

.verbal-bg-color {
  background-color:hsla(166, 100%, 37%, 0.05);
  grid-area: verbal;
}

.visual-color {
  color:hsl(234, 85%, 45%);
}

.visual-bg-color {
  background-color:hsla(234, 85%, 45%, 0.05);
  grid-area: visual;
}

.reaction-image {
  background-image: url("img/icon-reaction.svg");
}

.memory-image {
  background-image: url("img/icon-memory.svg");
}

.verbal-image {
  background-image: url("img/icon-verbal.svg");
}

.visual-image {
  background-image: url("img/icon-visual.svg");
}

button {
  background-color:  hsl(224, 30%, 27%);
  width: 19.6875rem;
  border-radius: 128px;
  padding: 1.0625rem 0 1rem 0;
  color: hsl(0, 0%, 100%);
  border: none;
  grid-area:  button;
}

@media (min-width: 750px) { 

  body {
    background-color: hsl(0, 0%, 100%);
  }

  .container {
    flex-direction: row;
    width: 750px;
    height: 500px;
    border-radius: 50px 50px;
    box-shadow: 0px 15px 25px -6px rgba(0,0,0,0.1);
  }

  header {
    border-radius: 25px 25px;
    width: 50%;
    height: 100%;
  } 

  .summary {
    width: 50%;
    height: 100%;
    padding:0 28px;
  }

  .description{
    font-size: 15px;
  }

  .result-title {
    margin: 30px 0;
  }

  .opinion-title {
    font-size: 26px;
  }

  .summary-title {
    font-size: 20px;
  }

  .stat {
    margin: 0 0 14px 0;
    width: 100%;
    padding: 12px 14px;
  }

  .stat > p, span {
    font-size: 14px;
  }

  .main-score {
    width: 160px;
    height: 160px;
  }

  .main-score-result {
    font-size: 52px;
  }

  .reaction-image, .memory-image, .verbal-image, .visual-image {
    width: 18px;
    height: 18px;
  }

  button {
    width: 100%;
    font-size: 14px;
    margin-top: 14px;
  }

  button:hover {
    background-color: hsla(241, 81%, 54%, .9);
    cursor:pointer;
  }
}