* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  background-color: hsla(220, 100%, 96%, 1);
  display: grid;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 23.4375rem;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 23.4375rem;
  
}

header {
  background-image: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
  border-radius: 0 0 32px 32px;
  display: grid;
  grid-template-rows: 1.5rem 2.9375rem 8.75rem 1.5rem 2.4375rem 5.125rem;
  grid-template-columns: minmax(3.625rem, 7.250rem) minmax(3.75rem, 7.50rem) minmax(8.75rem, 17.5rem) minmax(3.75rem, 7.50rem) minmax(3.625rem, 7.250rem);
  grid-template-areas: 
  ". . . . ."
  ". . result-title . ."
  ". . main-score . ."
  ". . . . ."
  ". . opinion-title . ."
  ". description description description ."
  ;
  
}

.summary {
  color: hsl(224, 30%, 27%);
  display: grid;
  grid-template-rows: 1.5rem 2.9375rem 3.5rem 1rem 3.5rem 1rem 3.5rem 1rem 3.5rem 1.5rem 3.5rem 1.875rem;
  grid-template-columns: 1.875rem minmax(19.6875rem , 39.375rem ) 1.875rem;
  grid-template-areas: 
  ". . ."
  ". sum-title ."
  ". reaction ."
  ". . ."
  ". memory ."
  ". . ."
  ". verbal ."
  ". . ."
  ". visual ."
  ". . ."
  ". button ."
  ". . ."
  ;
  
}


.summary-title {
  grid-area: sum-title;
  font-size: 1.125rem;
  font-weight: 700;
}
.result-title {
  font-family: 'Hanken Grotesk';
  color:hsla(241, 100%, 89%, 1);
  grid-area: result-title;
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
  
}

.main-score {
  min-width: 8.75rem;
  justify-self: center;
  aspect-ratio: 1 /1;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
  color: hsl(0, 0%, 100%);
  grid-area: main-score;
  display: grid;
  grid-template-rows:minmax(1.5625rem, 3.125rem)  minmax(4.5rem, 9rem)  minmax(2.6875rem, 5.375rem) ;
  grid-template-columns:minmax(2.375rem, 4.75rem)  minmax(3.9375rem, 7.875rem)  minmax(2.4375rem, 4.875rem) ;
  grid-template-areas: 
  ". . ."
  ". main-score-result ."
  ". main-score-100 ."
  ;
}

.main-score-result {
  font-size: 3.5rem;
  font-weight: 800;
  grid-area: main-score-result;
  text-align: center;
  line-height: 4.5rem;
}

.main-score-100 {
  color:hsla(241, 100%, 89%, 1);
  grid-area: main-score-100;
  text-align: center;
  font-weight: 700;
  opacity: 0.5168;
}

.opinion-title {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  grid-area: opinion-title;
  text-align: center;
}

.description {
  color:hsla(241, 100%, 89%,1);
  text-align: center;
  grid-area: description;
}


.stat {
  display: flex;
  min-width: 19.6875rem;
  min-height: 3.5rem;
  padding: 1.065rem 1rem 1.125rem 1rem;
  border-radius: 12px;
}

.score {
  margin-left: auto;
}

span {
  color: hsla(223, 30%, 27%, 1);
  opacity: 0.5; 
  margin-left: 0.5rem;
}

.stat-title {
  margin-left: 0.75rem;
}

.reaction-image, .memory-image, .verbal-image, .visual-image {
  width: 1.25rem;
  height: 1.25rem;
}

.reaction-color {
  color:hsl(0, 100%, 67%);
}

.reaction-bg-color {
  background-color:hsla(0, 100%, 67%, 0.05);
  grid-area: reaction;
}

.memory-color {
  color:hsl(39, 100%, 56%);
}

.memory-bg-color {
  background-color:hsla(39, 100%, 56%, 0.05);
  grid-area: memory;
}

.verbal-color {
  color:hsl(166, 100%, 37%);
}

.verbal-bg-color {
  background-color:hsla(166, 100%, 37%, 0.05);
  grid-area: verbal;
}

.visual-color {
  color:hsl(234, 85%, 45%);
}

.visual-bg-color {
  background-color:hsla(234, 85%, 45%, 0.05);
  grid-area: visual;
}

.reaction-image {
  background-image: url("img/icon-reaction.svg");
}

.memory-image {
  background-image: url("img/icon-memory.svg");
}

.verbal-image {
  background-image: url("img/icon-verbal.svg");
}

.visual-image {
  background-image: url("img/icon-visual.svg");
}

button {
  background-color:  hsl(224, 30%, 27%);
  min-width: 19.6875rem;
  border-radius: 128px;
  padding: 1.0625rem 0 1rem 0;
  color: hsl(0, 0%, 100%);
  border: none;
  grid-area:  button;
}

@media (min-width: 768px) { 


  .container {
    flex-direction: row;
    width: 46rem;
    height: 32rem;
    border-radius: 32px 32px;
    box-shadow: 0px 15px 25px -6px rgba(0,0,0,0.1);
  }

  header {
    border-radius: 25px 25px;
    width: 23rem;
    height: 32rem;
    grid-template-rows: 2.375rem 4.125rem 12.5rem 1.75rem 3.5rem 7.75rem;
    grid-template-columns: 3.375rem 1.875rem 12.75rem 1.875rem 3.375rem;
  } 

  .summary {
    width: 23rem;
    height: 100%;
    grid-template-rows: 2.375rem 3.6875rem 3.5rem 1rem 3.5rem 1rem 3.5rem 1rem 3.5rem 2.5625rem 3.5rem;
    grid-template-columns: 2.5rem 18rem 2.5rem;
  }

  .opinion-title {
    font-size: 2rem;
  }

  .description{
    font-size: 1.125rem;
  }

  .result-title {
    font-size: 1.5rem;
  }

  .main-score {
  display: grid;
  grid-template-rows:3.4375rem  4.5rem  4.5625rem ;
  grid-template-columns:minmax(2.375rem, 4.75rem)  minmax(3.9375rem, 7.875rem)  minmax(2.4375rem, 4.875rem) ;
  ;
  }

  .main-score-100 {
    font-size: 1.125rem;
  }

  .summary-title {
    font-size: 1.5rem;
  }

  .stat {
    min-width: 18rem;
    align-items: center;
    padding: 1.0625rem 1rem 1rem 1rem;
  }

  .stat > p, span {
    font-size: 1.125rem;
  }

  .main-score {
    width: 12.5rem;
    height: 12.5rem;
  }

  .main-score-result {
    font-size: 4.5rem;
  }

  button {
    min-width: 18rem;
    font-size: 1.125rem;
  }

  button:hover {
    background-image: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
    cursor:pointer;
  }
}